%%-*- mode: erlang -*-
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "5525369a4a98ff57f157842106f4adbbe1514d1b"}},
    {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "fc8312d0f77bb16557030b65803fe81320e51c78"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "0.9"}}
]}.
{sub_dirs, ["rel"]}.
{cover_enabled, true}.
